@font-face {
    font-family: Manrope;
    src: url(../fonts/Manrope/Manrope-VariableFont.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-color:#101010;
    --second-color:white;
    --main-color-panel:#101010ee;
    font-weight: 400;
}
ul,ol{
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}
main{
    padding-top: 90px;
}
html {
    scroll-behavior: smooth;
    scroll-snap-type: both mandatory;
    font-family: 'Manrope', sans-serif;
    scroll-padding-top: 90px;
}

.nav__header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--main-color);
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}
.nav__logo {
    height: 75px;
}
.panel-btn{
    z-index: 9;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 10px;
}
.hamburger-inner,.hamburger-inner::before,.hamburger-inner::after{
    background-color: var(--second-color);
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before {
    background-color: var(--second-color);
}
.menu__panel{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8;
    width: 100%;
    background-color: var(--main-color-panel);
    transform: translateY(-100%);
    transition: transform .3s ease;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.is-active{
    transform: translateY(0);
}
.menu__items{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    height: calc(100vh/6);
    font-weight: 700;
}
.menu__items:active{
    background-color: var(--second-color);
    color: var(--main-color);
}
section {
    min-height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding: 2em;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

